<?php

return [
    /**
     * Configuration for OpenstoreAkilia support
     */
    'openstore-akilia' => [
        /**
         * Optional db params
         * see zend db adapter format
         */
        'adapter' => [
            'driver' => 'mysqli',
            'hostname' => 'localhost',
            'username' => 'root',
            'password' => '',
            'database' => 'openstore_production',
            'options' => ['buffer_results' => false],
            'charset' => 'UTF8'
        ],

        /**
         * Akilia configuration
         * - Set the path for akilia1 installation
         */
        'akilia1' => [
            'path' => '/path/to/akilia/www'
        ],


        /**
         * Synchronizer
         * - Set the databases for openstore, intelaccess and akilia
         * - Set the language mappings
         */
        'synchronizer' => [
            'entities' => '*', // means all default entities will be synced
            'db_akilia2' => 'akilia2_production',
            'db_akilia1' => 'akilia00',
            /**
             * Intelaccess database name
             */
            'db_intelaccess' => 'intelaccess',
            'akilia1_language_map' => [
                'fr' => '_1',
                'en' => '_3',
                'nl' => '_2',
                'de' => '_4',
                'it' => '_5',
                'zh' => '_6',
                'es' => '_7'
            ],
            /**
             * Default language of substitution
             * when a description or title does
             * not have a translation
             */
            'default_language' => 'en',
        ],
        'product_picture_path' => '/web/data/images/emdproducts',
        'archive_product_picture_path' => '/web/data/images/emdarchive'

    ],
];
