<?php

return [
    /**
     * Configuration for OpenstoreAkilia support
     */
    'openstore-akilia' => [
        /**
         * Optionnal db params
         * see zend db adapter format
         */
        'adapter' => [
            'driver' => 'mysqli',
            'hostname' => 'localhost',
            'username' => 'root',
            'password' => '',
            'database' => 'openstore_production',
            'options' => ['buffer_results' => false],
            'charset' => 'UTF8'
        ],

        /**
         * Synchronizer
         */
        'synchronizer' => [
            'db_akilia2' => 'akilia2_production',
            'db_akilia1' => 'akilia00',
            /**
             * Intelaccess database name
             */
            'db_intelaccess' => 'intelaccess',
            'akilia1_language_map' => [
                'fr' => '_1',
                'en' => '_3',
                'nl' => '_2',
                'de' => '_4',
                'it' => '_5',
                'zh' => '_6',
                'es' => '_7'
            ],
            /**
             * Default language of substitution
             * when a description or title does
             * not have a translation
             */
            'default_language' => 'en',
            'options' => [
                'product_stock' => [
                        'enabled' => false,
                        'elements' =>  [
                                'BELGIUM' => [ 'akilia1db' => 'emd00', 'pricelist' => 'BE'],
                                'USA' => ['akilia1db' => 'emd01', 'pricelist' => 'US'],
                                //'FOSHAN'  => array('akilia1db' => 'emd04', 'pricelist' => '1F'),
                        ]
                ],
                'product_pricelist' => [
                        'enabled' => true,
                        'elements' =>  [
                            // Akilia 1 database
                            'EUROPE'    => ['akilia1db' => 'emd00', 'pricelists' => ['BE','DE','FR','NL','AT','IE','ES','GB','IT','DK']],
                            'UK'        => ['akilia1db' => 'emd02', 'pricelists' => ['GB']],
                            'USA'       => ['akilia1db' => 'emd01', 'pricelists' => ['US']],
                            //'CANADA'    => ['akilia1db' => 'emd05', 'pricelists' => ['CA']],
                            //'EXPORT'    => ['akilia1db' => 'emd04', 'pricelists' => ['1B','2B','1U','2U','1F','2F']],
                            //'CHINA'     => ['akilia1db' => 'emd20', 'pricelists' => ['20F','20U']]
                        ]
                ],
                'product_translation' => [
                        'enabled' => false
                ],
                'product_stat_trend' => [
                    'enabled' => true,
                    'akilia1db' => 'emd00'
                ]

            ],
        ],
        'product_picture_path' => '/web/data/images/emdproducts',
        'archive_product_picture_path' => '/web/data/images/emdarchive',
        'checker' => [
            'pricelists' => [
                'BE' => ['database' => 'emd00'],
                'DE' => ['database' => 'emd00'],
                'NL' => ['database' => 'emd00'],
            ]
        ]


    ],
];
